<div class="auth-page">
  <div class="loading-overlay" *ngIf="isLoading">

    <ng-lottie [options]="loaderOptions" width="160px" height="160px">
    </ng-lottie>

  </div>
  <app-navbar></app-navbar>

  <div class="auth-content">
    <div class="card-wrapper">
      <div class="form-side">
        <h2>Create Account</h2>
        <p class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </p>

        <form (ngSubmit)="onRegister()">
          <div class="input-group">
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" name="fullname" [(ngModel)]="registerData.fullName" placeholder="John Doe"
              required>
          </div>

          <div class="input-group">
            <label for="sID">Student ID</label>
            <input type="text" id="sID" name="sID" [(ngModel)]="registerData.sID" placeholder="S23410325"
              pattern="S[0-9]{8}" required>
          </div>

          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="registerData.email" placeholder="example@email.com"
              required email>
          </div>

          <div class="input-group">
            <label>Password</label>

            <div class="password-field">

              <input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="registerData.password"
                placeholder="Create password" required>

              <button type="button" class="eye-btn" (click)="togglePassword()">
                <span class="material-icons" *ngIf="!showPassword">visibility</span>
                <span class="material-icons" *ngIf="showPassword">visibility_off</span>
              </button>

            </div>

          </div>

          <div class="input-group">
            <label>Confirm Password</label>

            <div class="password-field">

              <input [type]="showConfirmPassword ? 'text' : 'password'" name="confirmPassword"
                [(ngModel)]="registerData.confirmPassword" placeholder="Confirm password" required>

              <button type="button" class="eye-btn" (click)="toggleConfirmPassword()">
                <span class="material-icons" *ngIf="!showConfirmPassword">visibility</span>
                <span class="material-icons" *ngIf="showConfirmPassword">visibility_off</span>
              </button>

            </div>

          </div>

          <button type="submit" class="submit-btn" [disabled]="isLoading">
            Register
          </button>
        </form>

        <div class="card-footer">
          <p>Already have an account? <a routerLink="/login">Log in</a></p>
        </div>
      </div>

      <div class="image-side">
        <img src="assets/register.jpg" alt="Register Image">
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>